/* src/components/login/Login.css */

.feedback-container {
    max-width: 400px;
    top: 20px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;

}
.feedback-button {
    opacity: 1;
    background-color: #0074cc; /* Hex code for a shade of blue */

}
.feedback-button:hover{
    background-color: #0074cc; /* Hex code for a shade of blue */

}
button {
    opacity: 1;
    background-color: #0074cc; /* Hex code for a shade of blue */
    /* Set opacity to 1 to make it fully opaque */
    /* Add any other styling properties as needed */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
}

p {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
